@charset "utf-8";

$font-color: #333;
$font-size: 16px;
$line-height: 1.6;
$font-family: 'Arial','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
